
body{
  background-image: url(img/gifimage.gif);
  width:auto;
  background-repeat: none;
  background-size: cover;
}
.card {
  transition: transform 0.2s, box-shadow 0.2s;

}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}
/*footer logo*/
.footerlogo{
  height: 40vh;
  width: 40vh;
}
/*about us card image*/
.custom-card-img {
  height: 400px; /* Adjust the height as per your requirement */
  object-fit: cover; /* Ensures the image covers the entire space without stretching */
}
.custmsection {
  margin-bottom: 200px; /* Adjust this value as needed */
}
.mordetaisfooter{
  margin-bottom: 2000px;
}
.mtc{
    margin-top: 10%;
}